body {
    margin: 0;
    font-family: 'Roboto', Arial !important;
    -webkit-font-smoothing: antialised;
    -moz-osx-font-smoorthing: grayscale;
    background-color: #d5d4d4;
}

code{
    font-family: souce-code-pro, Memlo, Monaco, Consolas, 'Courier New', monospace;
}